*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 970px;
    min-height: 850px;
    background-color: #245076;
    margin: 0 auto;

}

.header {
    height: 125px;
}

.header img{
    width: 30%;
    padding:20px;
}

.header p{
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 428px;
    color: white;
    padding-top: 7px;
    font-size: small;

}

.header a{
    color: #FFD936;
}

.header form{
    padding: 10px 25px 10px 30px;
    display: inline-block;
    background-color: #444444;
    border-radius: 10px;
    position: relative;
    left: 190px;
    bottom: 60px;
}

.header .search{
    text-align: center;
    border: #444444;
    vertical-align: center;
    padding: 10px;
    margin-right: 5px;
    font-size: small;
    color: rgb(184, 184, 184);
    box-shadow: 1px 1px 5px #555 inset;
    
}

.header .go{
    padding: 3px;
    border-radius: 5px;
    border: rgb(163, 163, 163) 2px solid;
    background-color: #245076;
    color: white;
}

.navbar {
    display: flex;
    padding: 0px 10px 0px 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
    background: radial-gradient(circle, rgba(131,179,221,1) 0%, rgba(65,123,173,1) 94%);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(9, 24, 51) inset;
    
}

.navbar a{
    display: flex;
    margin: 10px;
    width: 80%;
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 5px;
    justify-content: space-around;
}

.side{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
}

.side .aarow{
    color: #FFD936;
    font-size: 8px;
    vertical-align: top;
    position: relative;
    top: 7px;
}

.side ul{   
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-left: 100px;
}

.side li{
    padding-bottom: 10px;
}

.side a{
    color: white;
    font-size: larger;
}

.text {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    padding-bottom: 15px;
}

.text p{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    padding-top: 20px;
    text-align:  center;
    color: white;
}

.text h3{
    text-align: center;
    color: #FFD936;
    font-style: italic;
    font-weight: lighter;
}

.text h4{
    text-align: center;
    color: white;
    font-weight: lighter;
   
}

.bottom {
    display: flex;
    background-color: white;
}

.bottom .left{
    display: inline-block;
    width: 50%;
    padding: 10px;
    margin: 5px;
}

.left p {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-family: serif;
}

.left ul {
    list-style-type: square;
    padding-left: 80px;
    text-align: center;

    }

.left li {
    color: black;
    font-family: serif;
    width: 80%;
}

.left li > span {
    color: #73A7D5;
}

.bottom h4{
    text-align: center;
    border-top: #73A7D5 4px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom .right{
    display: inline-block;
    width: 50%;
    padding: 10px;
    margin: 5px;
}

.right p {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-family: serif;
}

.right ul {
    list-style-type: square;
    padding-left: 80px;
    text-align: center;

    }

.right li {
    color: black;
    font-family: serif;
    width: 80%;
}

.right li > span {
    color: #73A7D5;
}

.highlight{
    color: #73A7D5;
}

.footer {
    display: inline-block;
    width: 100%;
    height: 45px;
    text-align: center;
    padding-top: 20px;

}

.footer p{
    display: inline-block;
    margin: 30px;
    color: #85B7E4;
    font-size: large;
}

.copyright{
    color: #85B7E4;
    font-size: small;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}